sample/out/*
sample/temp/*
sample/logs/*
Tools/lib/*
Tools/jre/*
sample/data/tcat_atena.csv
sample/data/tcat_denwano_0.csv
sample/data/tcat_denwano_1.csv
sample/data/tcat_denwano_2.csv
sample/data/tcat_denwano_3.csv
sample/data/tcat_denwano_4.csv
sample/data/tcat_denwano_5.csv
sample/data/tcat_denwano_6.csv
sample/data/tcat_denwano_7.csv
sample/data/tcat_denwano_8.csv
sample/data/tcat_denwano_9.csv
sample/data/tcat_koza.csv
sample_2/logs/*.log
sample_2/out/*.csv
sample_2/temp/db.wal
sample/data/tcat_atena.csv
sample/data/tcat_denwano_0.csv
sample/data/tcat_denwano_1.csv
sample/data/tcat_denwano_2.csv
sample/data/tcat_denwano_3.csv
sample/data/tcat_denwano_4.csv
sample/data/tcat_denwano_5.csv
sample/data/tcat_denwano_6.csv
sample/data/tcat_denwano_7.csv
sample/data/tcat_denwano_8.csv
sample/data/tcat_denwano_9.csv
sample/data/tcat_koza.csv
